{% extends "./plantilla.html" %}

{% block contenido %}
<div class="container mt-2">
    <div class="card-body text-end">
        <a href="/nuevaActividad/" class="btn btn-outline-success mb-1">Agregar Actividad</a>
    </div>
    
    <!-- Contenedor con borde y sombra para la tabla -->
    <div class="border p-4 rounded-3 shadow-lg">
        <h3 class="mb-4 text-center">Lista de Actividades</h3>
        
        <!-- Campo de búsqueda -->
        <div class="mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar por nombre..." onkeyup="filterTable()">
        </div>
        
        <table class="table table-bordered table-striped table-hover" id="activitiesTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCIÓN</th>
                    <th>DURACIÓN</th>
                    <th>NIVEL DE DIFICULTAD</th>
                    <th>EQUIPO NECESARIO</th>
                    <th>EVENTO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for actividad in actividades %}
                    <tr>
                        <td>{{ actividad.id }}</td>
                        <td>{{ actividad.nombre }}</td>
                        <td>{{ actividad.descripcion }}</td>
                        <td>{{ actividad.duracion }}</td>
                        <td>{{ actividad.get_nivel_dificultad_display }}</td>
                        <td>{{ actividad.equipo_necesario }}</td>
                        <td>{{ actividad.evento.nombre }}</td>
                        <td>
                            <a href="/editarActividad/{{ actividad.id }}" class="btn btn-warning btn-sm me-2">Editar</a>  
                            <a href="/eliminarActividad/{{ actividad.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function filterTable() {
        // Obtener el valor del input de búsqueda
        const searchValue = document.getElementById('searchInput').value.toLowerCase();
        const table = document.getElementById('activitiesTable');
        const rows = table.getElementsByTagName('tr');
        
        // Iterar sobre las filas y filtrar por el contenido de la columna "NOMBRE"
        for (let i = 1; i < rows.length; i++) {
            const nameCell = rows[i].getElementsByTagName('td')[1]; // Índice 1 corresponde a la columna "NOMBRE"
            if (nameCell) {
                const name = nameCell.textContent.toLowerCase();
                if (name.includes(searchValue)) {
                    rows[i].style.display = ''; // Mostrar fila
                } else {
                    rows[i].style.display = 'none'; // Ocultar fila
                }
            }
        }
    }
</script>
{% endblock %}
